bentoml==1.0.13
brotlipy==0.7.0
conda-build==3.21.4
conda-package-handling==1.7.2
datasets==2.7.1
eunjeon==0.4.0
faiss-gpu==1.7.2
fastapi==0.89.1
glob2==0.7
jupyterlab==3.5.1
konlpy==0.6.0
kss==4.5.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
olefile==0.46
py-hanspell==1.1
pybind11==2.9.2
pyOpenSSL==19.1.0
PySocks==1.7.1
sagemaker-training==4.4.1
soynlp==0.0.493
streamlit==1.17.0
torchelastic==0.2.1
torchvision==0.8.2
transformers==4.25.1
tweepy==3.10.0
wandb==0.13.9
