datasets==2.7.1
fastapi==0.89.1
glob2==0.7
konlpy==0.6.0
kss==4.5.1
sagemaker-training==4.4.1
soynlp==0.0.493
streamlit==1.17.0
transformers==4.25.1
tweepy==3.10.0
wandb
torch==1.13
accelerate
pandas
rouge-score
sentence-transformers
soynlp
uvicorn
openai
